<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Cadastro</servlet-name>
  	<display-name>Cadastro</display-name>
  	<description></description>
  	<servlet-class>servlet.Cadastro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Lista</servlet-name>
  	<display-name>Lista</display-name>
  	<description></description>
  	<servlet-class>servlet.Lista</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListaCadastro</servlet-name>
  	<display-name>ListaCadastro</display-name>
  	<description></description>
  	<servlet-class>servlet.ListaCadastro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditarCadastro</servlet-name>
  	<display-name>EditarCadastro</display-name>
  	<description></description>
  	<servlet-class>servlet.EditarCadastro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletarCadastro</servlet-name>
  	<display-name>DeletarCadastro</display-name>
  	<description></description>
  	<servlet-class>servlet.DeletarCadastro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoriaGravar</servlet-name>
  	<display-name>CategoriaGravar</display-name>
  	<description></description>
  	<servlet-class>servlet.CategoriaGravar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoriaDeletar</servlet-name>
  	<display-name>CategoriaDeletar</display-name>
  	<description></description>
  	<servlet-class>servlet.CategoriaDeletar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoriaEditar</servlet-name>
  	<display-name>CategoriaEditar</display-name>
  	<description></description>
  	<servlet-class>servlet.CategoriaEditar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoriaListar</servlet-name>
  	<display-name>CategoriaListar</display-name>
  	<description></description>
  	<servlet-class>servlet.CategoriaListar</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Cadastro</servlet-name>
  	<url-pattern>/Cadastro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Lista</servlet-name>
  	<url-pattern>/Lista</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListaCadastro</servlet-name>
  	<url-pattern>/ListaCadastro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditarCadastro</servlet-name>
  	<url-pattern>/EditarCadastro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletarCadastro</servlet-name>
  	<url-pattern>/DeletarCadastro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoriaGravar</servlet-name>
  	<url-pattern>/CategoriaGravar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoriaDeletar</servlet-name>
  	<url-pattern>/CategoriaDeletar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoriaEditar</servlet-name>
  	<url-pattern>/CategoriaEditar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoriaListar</servlet-name>
  	<url-pattern>/CategoriaListar</url-pattern>
  </servlet-mapping>
   
</web-app>
